.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding-container);
}

h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-text);
  padding-bottom: 0.5rem;
}

div[class*='container']:not(:last-child) {
  margin-bottom: 3rem;
}
