.intro {
  max-width: var(--max-width);
  margin: 0 auto 4rem; /* leggermente più spazio sotto per uniformità */
  padding: var(--padding-container);
  text-align: center;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}

.text {
  font-family: var(--font-body);
  font-size: 1.125rem;
  color: var(--color-text);
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}
