.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem var(--padding-container);
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}

.card {
  max-width: 600px;
  width: 100%;

  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: var(--transition);
  box-sizing: border-box;
}

.backWrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  margin-top: 1rem;
  text-align: right;
}

@media (max-width: 480px) {
  .card {
    padding: 1rem;
    gap: 1rem;
  }

  .backWrapper {
    padding: 0.5rem 1rem;
  }

  .price {
    font-size: 1.25rem;
  }
}
