.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 0 var(--padding-container);
  background-color: var(--color-bg);

  grid-auto-rows: auto;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
